.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid #fafafa;
}

.chat:hover {
  background-color: #fafafa7e;
  border-top: 1px solid#b8b8b89c;
  border-bottom: 1px solid #b8b8b89c;
}

a {
  text-decoration: none;
  color: initial;
}

.chat__details {
  flex: 1; /* позволяет элементу flex расширяться и заполнять доступное пространство. */
}

.chat__details > p {
  color: gray;
}

.chat__timestamp {
  color: lightgray;
}

.chat__image {
  margin-right: 20px;
}
