.header {
  color: red;
  /* background-color: chartreuse; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 50px;
  object-fit: contain;
}

.header__icon {
  padding: 20px;
}
