.card__container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.swipe {
  position: absolute;
}

.card__image {
  position: relative;
  width: 600px;
  max-width: 85vw;
  height: 50vh;
  padding: 20px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.card__title {
  position: absolute;
  bottom: 10px;
  color: white;
}
